#output {
    background-color: black;
}

#output > p {
	font-family: Monaco, "Courier New", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", monospace;
    color: yellow;
	margin: 1em;
}

h1, h2, h3, p {
	font-family: helvetica, arial, sans-serif;
}

h2 a, h2 a:visited {
	color: black;
}

h2 a:hover {
    color: yellow; background-color: black

    }

